# Used for Geocoding address
# Obtain a key at https://developers.google.com/maps/documentation/geocoding/get-api-key
GOOGLE_API_KEY=your_google_api_key_here

# Used for getting weather forecast for a given location
# Obtain a key at https://openweathermap.org/api
OPENWEATHER_API_KEY=your_openweather_api_key_here
